@model IEnumerable<CarCleanz.Models.Booking>

@{
    ViewData["Title"] = "Admin - View Bookings";
}

<h2>Admin Panel - All Bookings</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Car Type</th>
        <th>Address</th>
        <th>Date</th>
    </tr>
    @foreach (var booking in Model)
{
    <tr>
        <td>@booking.Id</td>
        <td>@booking.CustomerName</td>
        <td>@booking.Phone</td>
        <td>@booking.CarType</td>
        <td>@booking.Address</td>
        <td>@booking.BookingDate?.ToShortDateString()</td>
    </tr>

    }
</table>

